{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container">
        <p></p>
        <div class="alert alert-info" role="alert">
            <strong>Отлично!</strong> Проверьте ваш e-mail и следуйте инструкциям для восстановления пароля
        </div>
    </div>
{% endblock %}
