{% extends '@App/base.html.twig' %}

{% block body %}

    {% if form is defined %}
        <h1>Редактирование сообщения</h1>
        {% include '@App/message/form.html.twig' with {'form' : form} %}
    {% else %}
        <div class="alert alert-danger" role="alert">
            К сожалению, вы не можете оставить сообщение
        </div>
    {% endif %}
{% endblock %}
