<div class="row my message">
    <div class="col-xs-1 avatar">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQDWQyBo2yABb-H1iiMUm33OAIU3nCHV6X8T9PT_DL-1_ARMWA4" class="img-responsive ">
    </div>
    <div class="col-xs-10">
        <div class="row">
            <div class="col-xs-10 text rounded">
                <span>{{ message.text }}</span>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
    <div class="col-xs-1 date">
        <div>19:20</div>
        <div><a href="{{ path('v1_get_message_edit', {'id' : message.id}) }}" class="message-edit">edit</a></div>
    </div>
</div>