{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="alert alert-success" role="alert">
        <strong>Отлично!</strong> Регистрация прошла успешно.
    </div>
{% endblock body %}
